# Some common Readline config settings.
set colored-stats                 on   # Turn on completion colors.
set colored-completion-prefix     on   # Color the typed completion prefix.

# Some config settings that only work in Clink.
$if clink           # begin clink-only section
set search-ignore-case            on   # Case insensitive history searches.
set completion-auto-query-items   on   # Prompt before showing completions if they'll exceed half the screen.
set mark-symlinked-directories    on
$endif

# Add your keybindings here...